* {
  font-family: monospace;
  font-size: 16px;
}

li:has(> details) {
  list-style-type: none;
}

li:hover {
  background-color: #f0f0f0;
}

details {
  margin-left: -14px;
}

summary {
  cursor: pointer;
}

.entityRef {
  color: #f00;
  cursor: pointer;
}

.entityRef:hover {
  color: #fff;
  background-color: #f00;
}

pre {
  margin: 0;
  display: inline;
  background-color: #e0e0e0;
}
